@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,700;1,500&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Vesper+Libre:wght@400;700&display=swap');

@font-face {
    font-family: "Montchauve";
    src: url("../../assets/fonts/montchauve/Montchauve.otf") format("opentype"),
        url("../../assets/fonts/montchauve/montchauve.svg#montchauve") format("svg");
}

:root {
    --main-color: #1b1b1b;
    --bg: gainsboro;
    --link-color: #0000FF;
    --secondary-color: #d7daddd4;
    --secondary-text-color: #ffffffd4;
    --display-font:
        'IBM Plex Mono', monospace;
    --body-font:
        'IBM Plex Sans', sans-serif;
    --quote-font:
        'Vesper Libre', serif;
    --maxW: 50%;
    --minW: 550px;
}

.mc {
    font-family: "Montchauve", sans-serif;
    font-size: 8rem;
}

body {
    background: var(--bg);
    /*     var(--bg); */
    /*     background-image: url("../../assets/images/AC76-1089.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    color: var(--main-color);
    font-family: var(--body-font);
    line-height: 1.4;
    font-size: 0.8rem;
    /*     text-align: justify; */
    margin: 0;
    padding: 2rem 3rem 3rem 3rem;
    overflow-x: hidden;

}

body::before {
    content: "";
    /* background-image: url("https://sitraka-.github.io/Connections/assets/images/2000w_q95.webp"); */
    background-position: center;
    /*     background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.25;

}

.markdown-body {
    min-width: var(--minW);
    width: 33%;
    z-index: 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    /* color: var(--secondary-text-color); */
    background-color: var(--secondary-color);
    font-family: var(--quote-font);
    /*     font-style:italic; */
    border-left: solid 3px var(--link-color);

    margin: 0;
    padding: 1rem 2rem;
    font-size: 0.8rem;

}

img:first-child {
    /*     filter:invert(100%); */
    width: 100%;
}

h2 {
    border-top: solid 2px var(--link-color);
    padding-top: 1rem;
}

h1,
h2 {
    text-transform: uppercase;
    font-family: var(--display-font);
    color: var(--link-color);
}

h2:first-of-type {
    border: none;
    padding-top: 0;
}

hr {
    border-color: var(--link-color);
}

p {
    max-width: var(--minW);
}

blockquote:last-of-type {
    position: absolute;
    top: 2rem;
    left: 50%;
    /*     width: calc( 100% - 50%); */
    padding: 0 3rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    font-family: var(--body-font);
    /* margin-left: 3rem; */
    font-size: 0.8rem;
    background: none;
    border-left: dashed thin var(--link-color);

}

blockquote:last-of-type h1 {
    font-size: 2em;
    line-height: 0.7;
    margin: 0;
    padding: 1em 0;
    border-bottom: solid 2px;
}

blockquote:last-of-type ul {
    padding: 0 1rem;
    margin-top: 0;
}

@media only screen and (max-width: 1280px) {
    blockquote:last-of-type {
        position: relative;
        left: 0;
        /*         border-top: solid; */
        width: 100% !important;
        /*         margin-top: 2rem; */
        top: 0;
        padding: 0 3rem 0 0;
        margin: 0;
        border-left: none;
        background: none;
    }

    blockquote:last-of-type h1 {
        margin-top: 0;
    }

    .markdown-body {
        max-width: 700px;
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .markdown-body {
        min-width: unset;
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    body {
        padding: 1rem;
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 1700px) {
    .markdown-body {
        max-width: var(--minW);
        width: var(--minW);
        /*         background: red; */
    }

    blockquote:last-of-type {
        max-width: var(--minW);
    }
}

@media only screen and (max-width: 1700px) {
    .markdown-body {
        /* min-width: 50%; */
        max-width: var(--minW);
        /* width: 100%; */
        /*         background: red; */
    }

    blockquote:last-of-type {
        /* width: calc(50% - 9rem); */
        width: var(--minW);
    }
}


ul li {
    position: relative;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding-inline-start: 1rem;
}

ul:not(.task-list) li:before {
    content: '';
    position: absolute;
    border-right: 2px solid var(--link-color);
    border-bottom: none;
    width: 10px;
    height: 10px;
    top: 10px;
    left: -20px;
    transform: translateY(-50%) rotate(-45deg);
}

ul.task-list {
    padding-left: 0;
}

ol {
    /* list-style-position: inside; */
    padding-left: 1.5rem;
}

ol li {
    position: relative;
    padding-bottom: 10px;
    padding-inline-start: 1rem;
}

ol li::before {
    content: "";
    /* margin-left: 1rem; */
}

::marker {
    color: var(--link-color);
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--link-color);
}

body::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: solid thin;
}

td {
    padding: 10px 15px 10px 0;
    vertical-align: top;
}

td:nth-child(4) {
    max-width: 200px;
}

thead th {
    text-align: left;
    padding-bottom: 10px;
}

table tbody tr:last-of-type {
    border-bottom: none;
}

.break {
    color: yellow;
}